* {
    padding: 0%;
    margin: 0%;
}

.cabecalho {
    background-color: #a53bfc;
    color: #d1b0f7;
    display: flex; 
    justify-content: spece-around; 
    align-items: center;
    padding: 24px 0; 
}

.cabecalho-imagem {
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-black;
    margin: 0 16px; 
    font-size: 24px; 
}

.escola-imagem {
    width: 25%;
}